.App {
  text-align: center;
  display: flex;
  flex-direction: row;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.flex-right-container {
  width: 100%;
}

.p{
  display: flex;
  align-self: flex-start;
}

.submit-button{
  display: flex;
  width: 100px;
  height: 8vh;
  background-color:#61dafb;
  border-radius: 10px;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.h1-link {
display: flex;
justify-content: center;
align-items: center;
align-self: center;
flex-direction: row;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
